{% extends "glasuntu/base.html" %}

<head>
	<title>{{ artist }}</title>
</head>

{% block head %}
{% endblock head %}

{% block content %}

<body>
	<h2> {{ artist }} </h2>
	</br>
	
	{% if user.is_authenticated %}
		{% if uID == ownerID %}
			<a href="{% url 'glasuntu:edit_artist' id %}">edit</a>
		{% else %}
			<p></p>
		{% endif %}
	{% else %}
		<p></p>
	{% endif %}

	<div class = "col-md-4" id = "container">
		<button type="button">Follow</button>
		<button type="button">Website</button>
		</br>
		</br>
		<img src="{{artist.picture}}" alt="pic" width="1150" height="900"/>
	</div>

	<div class = "col-md-4" id = "container">
		<h2>About</h2>
		</br>
		{{ artist.info }}
		
	</div>

	<div class = "col-md-4" id = "upcomingGigs">
		<h2>Upcoming Gigs</h2>
			<nav id = "GigsNav">
				<ul>
					{% for event in events %}
						<li>{{ event }}</li>
					{% empty %}
						<li>{{ artist.name}} has no gigs scheduled.</li>
					{% endfor %}
				</ul>
			</nav>
	</div>
	
</body>

{% endblock content %}