{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'glasuntu/base_style.css' %}">
</head>

<body>
	<header>
		<h1><a href="{% url 'glasuntu:index' %}">Glasgow Untuned</a></h1>
		
		<form method = "GET" action = "{% url 'glasuntu:search' %}">
		
			<label for="search_options">Search by:</label>
		
			<!--Content of the selection menu is retrieved in "search" view-->
			<select id = "search_options" name = "s" value = "{{ request.GET.s }}"/>
				<option selected = "true" disabled = "disabled">-Choose-</option>
				<option value = "a">Artist</option>
				<option value = "v">Venue</option>
			</select>
			
			<!-- "q" = the user's query -->
			<input id = "search" name = "q" type = "text" placeholder = "Search..." value = "{{ request.GET.q }}"/>
			<input id = "searchButt" type = "submit" value = "Submit"/>
		</form>
		
		{% block head %}{% endblock head %}
	</header>
		
	<!--content of the block is determined in the inheriting template-->
	{% block content %}{% endblock content %}
		
		
	<footer>
		<div id = "foot">
	
			<p id = "social">Facebook and Twitter links<p>
			<p id = "contact">Contact info<p>
			<p id = "faq">FAQ</p>
	
		</div>
	</footer>
	
</body>
</html>