{% extends "glasuntu/base.html" %}

<head>
	<title>Glasgow Untuned Homepage</title>
	<meta name = "authors" content = "Matthew Murray, Jamie Howitt, Jamie Dickson">
	<meta name = "page description" content = "This is the homepage of Glasgow Untuned, a site for discovering music venues and upcoming performances">
</head>

{% block header %}
<!--
<form method = "POST" action = "">
	<input id = "uEnt" type = "text" placeholder = "Username">
	<input id = "pEnt" type = "text" placeholder = "Password">
	<input id = "loginButt" type = "submit" value = "Login">
</form>
-->

<div class = "jumbotron">
	<h1>Welcome to Glasgow Untuned</h1>
</div>
{% endblock header %}

{% block content %}
<body>
	<div class = "col-md-4" id = "upcoming">
		<h2>Upcoming Events</h2>
			<nav id = "EventsNav">
				<ul>
					{% for event in events %}
						<li>{{ event }}</li>
					[% empty %}
						<li>No events are scheduled yet.</li>
					{% endfor %}	
				</ul>
			</nav>
	</div>

	<div class = "col-md-4" id = "recent">
		<h2>Recently Added</h2>
			<nav id = "RecentNav">
				<ul>
					{% for recent in recents %}
						<li>{{ recent }}</li>
					{% empty %}
						<li>There are no recently visited pages.</li>
					{% endfor %}
				</ul>
			</nav>
	</div>

	<div class = "col-md-4" id = "genres">
		<h2>Venue Genres</h2>
			<nav id = "GenreNav">
				<ul>
					{% for genre in genres %}
						<li>{{ genre }}</li>
					{% empty %}
						<li>No genres have been defined.</li>
					{% endfor %}
				</ul>
			</nav>
	</div>
</body>

{% endblock content %}

