{% extends "glasuntu/base.html" %}

{% block head %}
	<input id = "uEnt" type = "text" placeholder = "Username">
	<input id = "pEnt" type "text" placeholder = "Password">
{% endblock head %}

{% block content %}

<body>
	<h2>Search Results</h2>
	<ul>
		{% for query in queries %}
			{% if view == "venue" %}
				<li><a href = "{% url 'glasuntu:venue' venue_id=query.id %}">{{ query }}</a></li>
			{% else %}
				<li><a href = "{% url 'glasuntu:artist' artist_id=query.id %}">{{ query }}</a></li>
			{% endif %}
		{% empty %}
			<p><em>Please select a search category.</em></p>
		{% endfor %}
	</ul>

{% endblock content %}